<%- include('partials/navbar.ejs') %>

  <main>
    <div class="question-list">
      <div class="actions">
        <form method="post" action="/search">
          <input type="text" placeholder="Search problem by name" name="query" />
          <button type="submit" id="search">Search</button>
        </form>
        <button><a id="create-poll" href="/create">Create a poll</a></button>
      </div>
      <%- include('partials/problem-list.ejs') %>
    </div>
  </main>
  <script src="/javascript/choice.js"></script>
</body>

</html>