* {
    margin: 0;
    padding: 0;
}

button{
    display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#create-poll{
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #2980b9;
  }


body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: w;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}


nav ul li a:hover {
    color: #f7f7f7;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.actions input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}


.list-element a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.list-element a:hover {
    color: #555;
}

.created-date {
    font-size: 12px;
    color: #777;
}

#search{
    margin: 10px 0;
}